<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juet.attendance"
    >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name="com.juet.attendance.attendance"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.juet.attendance.SettingsView"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.juet.attendance.Subject"
            android:label="@string/title_activity_subject"
            android:parentActivityName="com.juet.attendance.attendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.juet.attendance.attendance" />
        </activity>
        
        <activity android:name="com.juet.attendance.About" 
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.juet.attendance.About" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    

    </application>

</manifest>
